includes:
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - src/
    level: 10
    ignoreErrors:
        - '#Method .*::(buyer|seller|invoices)\(\) should return Illuminate\\Database\\Eloquent\\Relations\\(BelongsTo|HasMany)<.*> but returns#'
