includes:
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - src/
    level: 10
    ignoreErrors:
        - '#Method .*::(buyer|seller|invoices|Invoice|InvoiceItem)\(\) should return Illuminate\\Database\\Eloquent\\Relations\\(BelongsTo|HasMany)<.*> but returns#'
        - '#Parameter .* expects .*, mixed given\.#'
        - '#Property .* (.*) does not accept mixed\.#'
        - '#Method .* should return Illuminate\\Database\\Eloquent\\Relations\\(BelongsTo|HasMany)<.*, .*> but returns Illuminate\\Database\\Eloquent\\Relations\\(BelongsTo|HasMany)<.*, \$this\(.*\)>#'
